<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823513924260-ps4gv80gq2ndqha1hvr27s60b22dm9r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823513924260-ps4gv80gq2ndqha1hvr27s60b22dm9r5</string>
	<key>API_KEY</key>
	<string>AIzaSyDnwcTcqIhFQta6T0MvYHFi8As_eYuKDtU</string>
	<key>GCM_SENDER_ID</key>
	<string>823513924260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-faisalismail</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-faisalismail.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823513924260:ios:051778bc53bdcb51ee5c31</string>
</dict>
</plist>